@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;1,400&family=Noto+Sans:ital,wght@0,400;0,500;1,300&display=swap");

html {
	background: #fef5ff;
	color: #18011a;
}

article {
	width: 80vw;
	padding: 1em;
	margin: 0 auto;
	padding: 1em;
	column-count: 3;
	column-width: 350px;
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}
h1,
h2 {
	font-family: "Cormorant", serif;
	font-size: 2rem;
}
aside {
	margin: 0 2rem 0 2rem;
	font-size: 1.5rem;
	font-style: italic;
	width: 70vw;
	font-family: "Cormorant", serif;
}
.slide-in {
	animation: slidein 1s ease-in-out;
}
aside:before {
	content: "“";
	position: absolute;
	margin: -1.25rem 0 0 -1.25rem;
	font-size: 3rem;
}

@keyframes slidein {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: 2rem;
	}
}
