@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700");


html{
  min-height: 100%;
}

body{
background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);background-position: center;
}

#nom{
  text-transform: uppercase;
}

.btn{
  background-color: #14b0f3;
}
.btn:hover{
  background-color: #0093d2;
}

header{
  padding: 7em 5em 4em 5em;
}

h1{
  font-family: 'Source Sans Pro', Arial, sans-serif;

}

#rectangle{
  border: solid 2px white;
  background-color: white;
  padding: 2em 2em 2em 2em;
  -webkit-box-shadow: 3px 4px 4px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 4px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 4px -2px rgba(0,0,0,0.75);
}

#blanc{
  max-width: 50%;
  min-width: 50%;
}
